.day {
  color:black;
  background-color: burlywood;
}
.night{
  color:white;
  background-color: black;
}
.default {
  color:black;
  background-color: black;
}
b {
  color: olivedrab;
  font-size: larger;
}
li {
  color: cadetblue;
}
h2,h3,div {
  text-align: center;
}
